aiodns
aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asyncio
attrs
ccxt
certifi
cffi
charset-normalizer
cryptography
dotenv
frozenlist
h11
httpcore
httpx
idna
magic-filter
multidict
numpy
propcache
pycares
pycparser
pydantic
pydantic_core
python-dotenv
python-telegram-bot
requests
setuptools
sniffio
tabulate
telegram
typing-inspection
typing_extensions
urllib3
yarl
apscheduler